* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container h2 {
  margin-bottom: 20px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #fff;
  line-height: 1.6;
}

.container {
width: 80%;
margin: 0 auto;
padding: 20px;
}

.title-container {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em; /* Adjust the space between the title and the login form */
}

.title-container h1, .title-container p {
  color: #000; /* O cualquier otro color que resalte sobre el fondo */
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7); /* Sombra de texto para mejorar la legibilidad */
}

#main-title {
  text-shadow: 15px 7px 5px rgba(0, 0, 0, 0.5);
  font-size: 5em; /* Adjust the size as needed */
  margin-bottom: 0.5em; /* Spacing below the title */
  color: #ffffff; /* White color for the title text */
}

#intro-text {
  font-size: 1.6em; /* Texto más grande para énfasis */
  margin-bottom: 20px; /* Espacio debajo del texto */
  color: #fffffe; /* Un color oscuro que debería resaltar sobre el fondo claro */
  background: rgba(0, 0, 0, 0.6); /* Fondo oscuro semi-transparente para mejorar la legibilidad */
  padding: 20px; /* Añadir algo de espacio alrededor del texto */
  border-radius: 10px; /* Bordes redondeados para el fondo del texto */
  width: 80%; /* O el ancho que prefieras */
  max-width: 860px; /* Un ancho máximo para evitar que el texto sea demasiado ancho */
  box-shadow: 5px 12px 5px rgba(0, 25, 25, 2); /* Sombra sutil para crear profundidad */
  text-align: center; /* Asegura que el texto esté centrado */
  display: block; /* Cambia a block para aplicar ancho y márgenes */
  margin-left: auto; /* Centra el bloque horizontalmente */
  margin-right: auto;
}


#login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0 auto vh;
  text-align: center;
  padding-top: 50px;
}

#login-page.hidden {
  display: none;
}


#login-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  background: #4e3e7c; /* A color that matches the background gradient */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  transition: background 0.3s ease;
}


button[type="submit"]:hover {
  background: #3e316b; /* A darker shade for hover effect */
}

.full-page-background {
  height: 100vh;
  width: 100%;
  background-image: url('./IMG/Foto1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}


#diary-page {
  padding-top: 20px;
  text-align: center;
}

#diary-page h2 {
  margin-bottom: 20px;
  color: #333;
}

#logout {
  background: none;
  border: 2px solid #050000;
  padding: 10px 20px;
  font-size: 16px;
  color: #050000;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

#logout:hover {
  background: #050000;
  color: #f5f2f2;
}

.hidden {
  display: none;
}

/* Estilos responsivos para dispositivos con anchos menores a 768px (tabletas y móviles) */
@media only screen and (max-width: 480px) { /* Smartphones en modo vertical */
  #main-title {
    text-shadow: 15px 7px 5px rgba(0, 0, 0, 0.5);
    font-size: 1.5em; /* Adjust the size as needed */
    margin-bottom: 0.5em; /* Spacing below the title */
    color: #ffffff; /* White color for the title text */
    padding: auto;
    padding-bottom: auto;
  }

  #intro-text {
    font-size: 1em; /* Texto más pequeño para mejorar la legibilidad */
    padding: auto; /* Ajustar el padding */
    margin: auto; /* Agregar un margen */
    max-width: none; /* Permitir que ocupe el ancho disponible */
  }

  .container {
    width: 100%; /* El contenedor debe ocupar todo el ancho */
    margin: 0; /* Resetear los márgenes */
    padding: 10px; /* Padding reducido */
  }

  #login-form {
    width: 100%; /* Que el formulario ocupe todo el ancho */
    box-shadow: none; /* Opcional: quitar la sombra para un look más plano */
  }

  button[type="submit"] {
    width: 100%; /* Que el botón se expanda */
  }

  .full-page-background {
    padding: 0; /* Quitar el padding para el fondo */
  }

  #diary-page, #logout {
    width: 100%; /* Que estos elementos ocupen todo el ancho */
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) { /* Smartphones en modo horizontal y tabletas pequeñas */
  
  #main-title {
    text-shadow: 15px 7px 5px rgba(0, 0, 0, 0.5);
    font-size: 3em; /* Adjust the size as needed */
    margin-bottom: 0.5em; /* Spacing below the title */
    color: #ffffff; /* White color for the title text */
  }

  #intro-text {
    font-size: 1em; /* Texto más pequeño para mejorar la legibilidad */
    padding: auto; /* Ajustar el padding */
    margin: auto; /* Agregar un margen */
    max-width: none; /* Permitir que ocupe el ancho disponible */
  }

  .container {
    width: 100%; /* El contenedor debe ocupar todo el ancho */
    margin: auto; /* Resetear los márgenes */
    padding: auto; /* Padding reducido */
  }

  #login-form {
    width: 100%; /* Que el formulario ocupe todo el ancho */
    box-shadow: none; /* Opcional: quitar la sombra para un look más plano */
  }

  button[type="submit"] {
    width: 100%; /* Que el botón se expanda */
  }


  .full-page-background {
    padding: auto; /* Quitar el padding para el fondo */
    
  }

  #diary-page, #logout {
    width: 100%; /* Que estos elementos ocupen todo el ancho */
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) { /* Tabletas en ambos modos */
  /* Ajustes específicos para tabletas */
}

@media only screen and (min-width: 1025px) { /* Dispositivos de escritorio y tabletas grandes */
  /* Estilos para pantallas grandes, donde normalmente no necesitas cambiar mucho */
}
